/* body {
  background: #1da1f2;
  color: #fff;
} */

/* button {
  border: none;
  border-radius: 10px;
  margin: 5px;
} */

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5em 0;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

.cart {
  position: fixed;
  z-index: 1;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  padding: 1rem;
}

.bsk {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  /* pointer-events: none; */

}

.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 50rem;
  max-width: 95%;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.5);
  animation: show 0.5s ease-in-out;
  transition: 0.5s;

}

.basket-close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5em;
  color: #fff;
}

.basket-delete {
  cursor: pointer;
  color: #2bbbad;
}

.basket-delete:hover {
  color: red;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex p {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  gap: 5px;
}

.flex span.secondary-content {
  display: flex;
  align-items: center;
  gap: 5px;
}

.flex span.secondary-content a {
  display: flex;
  align-items: center;
}


@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}
